*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
}



/* CONTAINER */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* BIG BOX */
.big-box{
    background-color: black;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.img{
    width: 160px;
    height: 80px;
    background-color: lightgrey;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Moto_Gp_logo.svg/1200px-Moto_Gp_logo.svg.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px;
    position: relative;
}

.pinco-pallo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2px;
    background-color: rgb(0 0 0 / 24%);
}




/* END BAR */
.end-bar{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0deg 0% 13%);
}


.item-endbar1{
    color: white;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

.under-endbar1{
    display: flex;
    margin-right: 20px;
}

.under-endbar11{
    flex-direction: column;
}


.fa-share-square{
    color: #66ff00;
}

.item-endbar2{
    color: white;
    flex-grow: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item-endbar3{
    color: red;
    width: 200px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
}

.under-endbar3{
    justify-content: center;
    align-items: center;
}
